<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="theme-color" content="#4f46e5">
  <link rel="icon" type="image/x-icon" href="/src/assets/images/favicon/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="/src/assets/images/favicon/icon.svg">
  <link rel="apple-touch-icon" type="image/png" href="/src/assets/images/favicon/icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/app.css' | version }}">
</head>
<body class="layout layout-default">
  <div class="entry">
    {% include "../partials/_header.html" %}
    {% block content %}{% endblock %}
  </div>
  {% include "../partials/_footer.html" %}
  <script src="{{ '/app.js' | version }}"></script>
</body>
</html>
